
/Samples/SVGViewer/SVGViewer.OpenCover.Settings
*.cache
*.trx
/Source/TestResults/
/Tests/IsoTestRunnder.Droid/Assets
bin/
obj/
*.dll
*.pdb
*.mdb
*.suo
*.user
*.sln.DotSettings
*.user
Resource.Designer.cs
*project.lock.json
*packages_old.config
*.user

packages/
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets
*.nupkg
/nuspec/nuget.exe
*.csproj.bak
/Tests/SvgW3CTestRunner.Droid/*.bak
/Nuget/.vscode
/Nuget/nuget.exe
.vs
/tools
/build
/Svg.Tests.Benchmarks/Assets/TilesStream.zip
